<div *ngFor="let element of elements" class="c{{element.group}} r{{element.period}}">
  <app-element-gui [element]="element"></app-element-gui>
</div>


<div class="placeholder lanthanoid c3 r6">
  <div class="square">57-71</div>
</div>
<div class="placeholder actinoid c3 r7">
  <div class="square">89-103</div>
</div>
<div class="gap c3 r8"></div>

<div class="key">
  <div class="row">
    <label class="alkali-metal" for="alkali-metals">Alkali Metals</label>
    <label class="alkaline-earth-metal" for="alkaline-earth-metals">Alkaline Earth Metals</label>
    <label class="lanthanoid" for="lanthanoids">Lanthanoids</label>
    <label class="actinoid" for="actinoids">Aktinoids</label>
    <label class="transition-metal" for="transition-metals">Transition Metals</label>
    <label class="post-transition-metal" for="post-transition-metals">Post-Transition Metals</label>
    <label class="metalloid" for="metalloids">Metalloids</label>
    <label class="other-nonmetal" for="other-nonmetals">Other Nonmetals</label>
    <label class="noble-gas" for="noble-gasses">Noble Gasses</label>
    <label class="unknown" for="unknown">Unknown</label>
  </div>
</div>